.ct_page_not_found_bg {
  /* background-color: #e7ffff; */
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.wrapper.ct_main_dashboard.topbar_open nav.navbar {
  margin-top: 76px;
}
.ct_page_not_found_section {
  padding: 4rem 2rem;
}
.ct_page_not_found_section .ct_page_not_found_error {
  font-size: 150px;
  color: #008b62;
  text-shadow: 1px 1px 1px #00593e, 2px 2px 1px #00593e, 3px 3px 1px #00593e,
    4px 4px 1px #00593e, 5px 5px 1px #00593e, 6px 6px 1px #00593e,
    7px 7px 1px #00593e, 8px 8px 1px #00593e, 25px 25px 8px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}
.ct_page_not_found_page {
  margin: 2rem 0;
  font-size: 20px;
  font-weight: 600;
  color: #4caf50;
  font-family: "Roboto", sans-serif;
}
.back-home {
  display: inline-block;
  border: 2px solid rgb(7, 7, 7);
  color: #4caf50;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.75rem 1rem 0.6rem;
  transition: all 0.2s linear;
  box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
  background: rgb(16, 15, 15);
  border-radius: 6px;
}
.back-home:hover {
  background: #222;
  color: #ddd;
}

.ct_profile_drop12 {
  padding: 0px;
}
.ct_profile_drop12 li a {
  padding-block: 10px;
  background-color: #fff;
}
.ct_fs_16 {
  font-size: 16px;
}
.ct_back_btn {
  color: #000;
  transition: 0.4s ease all;
  font-size: 18px;
}
.ct_line_height_0 {
  line-height: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ct_white_space_nowrap {
  white-space: nowrap;
}
.ct_logo img {
  width: 100%;
  max-width: 170px;
}
