.ct_loader_main {
  width: 100%;
  background: #000000;
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-1 {
  width: 7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 13px;
}

/* The dot */

.dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  /* background-color: #a52a2a; */
  background-color: #f7ac04cc;
  margin: 0.4rem;
  opacity: 0.6;
  font-size: 15px;
}

.dot:nth-child(1) {
  animation: animateLoader1 1.5s infinite;
}

.dot:nth-child(2) {
  animation: animateLoader1 1.3s infinite;
}

.dot:nth-child(3) {
  animation: animateLoader1 1.7s infinite;
}

.dot:nth-child(4) {
  animation: animateLoader1 1.1s infinite;
}

.dot:nth-child(5) {
  animation: animateLoader1 0.9s infinite;
}

.dot:nth-child(6) {
  animation: animateLoader1 0.7s infinite;
}

.dot:nth-child(7) {
  animation: animateLoader1 0.5s infinite;
}

.dot:nth-child(8) {
  animation: animateLoader1 1.3s infinite;
}

.dot:nth-child(9) {
  animation: animateLoader1 1.5s infinite;
}

@keyframes animateLoader1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.ct_ff_poppin {
  font-family: "Poppins", sans-serif;
}

.ct_clr_8C98A9 {
  color: #8c98a9;
}

.ct_pagination_select_21 {
  border: 1px solid #d8d8d8;
  padding: 4px;
  border-radius: 6px;
  width: 60px;
}
.pagination li.previous,
.pagination li.next {
  background-color: #ffff;
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
}

.pagination li.previous a,
.pagination li.next a {
  color: #000 !important;
}
.pagination li {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 2px;
  background-color: rgb(255 255 255 / 52%);
}
.pagination li.active {
  background: linear-gradient(
    90.11deg,
    #8c4d00 -12.94%,
    #8d4f01 -12.46%,
    #b6842d 4.18%,
    #d5ad50 19.73%,
    #eccb69 33.74%,
    #fadd78 45.73%,
    #ffe47d 54.28%,
    #ffe177 59.82%,
    #fdd866 67.19%,
    #fbca4b 75.53%,
    #f8b625 84.53%,
    #f5a300 92.01%,
    #ef9f00 98.34%,
    #de9400 106.74%,
    #c28100 116.34%,
    #9c6700 126.74%,
    #946200 128.72%
  );
}
.pagination li a {
  color: #fff !important;
}
.pagination li.active a {
  color: #000 !important;
}

.ct_admin_logo img {
  width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
